.about {}

.about__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 20px 0 0;
}

.about__info {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  width: 290px;
  margin: 0 auto;
}

.main-title__wrapper h2 {
  margin: 18px 0 14px;
}

.about__info h3 {
  margin: 0 0 14px;
  font-size: 16px;
  line-height: 16px;
}

.about__info p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}


@media (min-width: $tablet-width) {
  .about__wrapper {
    width: 768px;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 450px 318px;
  }

  .about__image {
    min-width: 542px;
    padding: 136px 0 0;
    object-fit: cover;
  }

  .about__info {
    gap: 29px;
    padding-right: 48px;
    width: auto;
  }

  .main-title__wrapper h2 {
    margin: 22px 0 19px;
  }

  .about__info h3 {
    margin: 0 0 11px;
    font-size: 18px;
    line-height: 18px;
  }

  .about__info p {
    font-size: 16px;
    line-height: 24px;
  }
}


@media (min-width: $desktop-width) {
  .about__wrapper {
    width: 1440px;
    padding: 0;
    grid-template-columns: 660px 780px;
  }

  .about__image {
    padding: 123px 0 0;
  }

  .about__info {
    gap: 30px;
    padding-top: 151px;
    padding-right: 178px;
    padding-bottom: 178px;
  }

  .main-title__wrapper h2 {
    margin: 18px 0 28px;
  }

  .about__info h3 {
    margin: 0 0 16px;
    font-size: 21px;
    line-height: 21px;
  }

  .about__info p {
    font-size: 14px;
    line-height: 22px;
  }

}
