.advantages__wrapper {
  padding: 36px 15px 20px;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.advantages__slides {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.advantages__wrapper .main-title__wrapper h2 {
  margin: 0 0 38px;
  text-align: center;
}

.advantages h3 {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: $primary-color;
  margin: 0 0 15px;
  text-align: center;
  padding: 0 13px;
}

.advantages p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: $primary-color;
  margin: 0;
  max-width: 270px;
  text-align: center;
  vertical-align: top;
}

.advantages__swiper .swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.advantages__slides .swiper-slide {
  width: 290px;
  margin: 0;
}

.advantages__slide--hide {
  display: none;
}

.advantages__buttons {
  display: none;
}

.advantages .advantages__button svg {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    padding: 60px 0 46px;
    gap: 30px;
    width: 768px;
  }

  .advantages__slides {
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  // .advantages__slides .swiper-slide-blank {
  //   display: none !important;
  // }

  .advantages__slides .swiper-slide {
    margin: 0;
    max-width: 324px;
  }

  .advantages__wrapper .main-title__wrapper h2 {
    margin: 0 0 30px;
  }

  .advantages h3 {
    font-size: 16px;
    line-height: 16px;
    max-width: 284px;
  }

  .advantages p {
    font-size: 14px;
    line-height: 22px;
    max-width: 420px;
  }
}


@media (min-width: $desktop-width) {
  .advantages__wrapper {
    position: relative;
    gap: 0;
    padding: 123px 0;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    max-width: 1440px;
  }

  .advantages__slides {
    display: block;
    flex-direction: initial;
    gap: 0;
    padding: 50px 0;
    flex-wrap: nowrap;
  }

  .advantages__slides .swiper-slide {
    // flex: 0 0 auto;
    // max-width: unset;
    min-width: 380px;
    max-width: 380px;
    min-height: 329px;
    // width: auto;
    // max-width: 380px;
    // width: 380px;
    flex: 0 0 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .advantages__wrapper .main-title__wrapper h2 {
    margin: 0;
  }

  .advantages h3 {
    font-size: 18px;
    line-height: 18px;
    max-width: 340px;
  }

  .advantages p {
    font-size: 14px;
    line-height: 22px;
    max-width: 592px;
  }


  .advantages__swiper {
    overflow: hidden;
    padding: 0 120px;
    display: flex;
    justify-content: center;
  }

  .advantages__swiper .swiper-wrapper {
    flex: 0 0 auto;
    flex-wrap: nowrap;
    justify-content: initial;
    // width: max-content; ///!


    // overflow: visible;


    // width: auto;
  }

  .advantages__buttons {
    bottom: 100px;
    right: 50%;
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 4px;
    position: absolute;
    justify-content: space-between;
  }
}
