.main-header {
  background-color: $additional-color;
}

.main-header__wrapper {
  padding: 15px 15px 13px;
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px 0;
  position: relative;
}

  .main-header__logo-link {
    color: $white-color;
  }

.main-header__toggle {
  border: none;
  mask-image: url("/__spritemap#sprite-menu-burger-view");
  mask-repeat: no-repeat;
  width: 26px;
  height: 26px;
  margin-right: 122px;
  margin-top: 3.5px;
  cursor: pointer;
}

.main-header--menu-opened .main-header__toggle {
  mask-image: url("/__spritemap#sprite-menu-cross-view");
  margin-top: 0;
}

.main-header__nav {
  display: none;
}

.main-header__nav--opened {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  z-index: 10;
}

.main-header__phone {
  margin-left: auto;
  text-decoration: none;
  color: $white-color;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}


@media (min-width: $tablet-width) {

  .main-header__wrapper {
    padding: 20px 45px 16px;
    width: 768px;
  }

  .main-header__toggle {
    margin-right: 242px;
    margin-top: 12px;
  }

  .main-header--menu-opened .main-header__toggle {
    margin-top: 8px;
  }

  .main-header__phone {
    margin-left: 128px;
    padding: 15px 0;
    font-size: 16px;
    line-height: 16px;
  }

  .main-header--menu-opened .main-header__phone {
    font-size: 18px;
    line-height: 18px;
    margin-left: 111px;
  }
}


@media (min-width: $desktop-width) {

  .main-header__wrapper {
    padding: 32px 120px 28px;
    width: 1440px;
    gap: 16px 133px;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__logo-link {
    margin: 10px 32px 10px 31px;
  }

  .main-header__nav {
    display: block;
    position: static;
    width: unset;
  }

  .main-header__list {
    position: static;
  }

  .main-header__phone {
    margin-left: unset;
    padding: 24px 0;
    font-size: 18px;
    line-height: 18px;
  }
}
