.menu-list {
  margin: 0;
  padding: 15px 0 48px 15px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  background-color: $additional-color;
}

.menu-list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.4px;
  outline: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $white-color;
  }

  &:focus-visible {
    outline-color: $white-color;
  }

  &:active {
    color: $active-color;
    border: none;
  }

  &:disabled {
    color: $disabled-color;
    pointer-events: none;
  }
}


@media (min-width: $tablet-width) {
  .menu-list {
    padding: 31px 0 68px 45px;
    gap: 25px;
  }

  .menu-list__link {
    font-size: 16px;
    line-height: 16px;
  }
}


@media (min-width: $desktop-width) {
  .menu-list {
    flex-direction: row;
    gap: 30px;
    padding: 24px 0;
  }

  .menu-list__link {
    font-weight: 400;
    letter-spacing: unset;
    text-transform: capitalize;
  }
}
