.page-body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $primary-color;
  background-color: $white-color;

  main {
    flex: 1;
  }
}
