.reviews {
  position: relative;
  overflow: hidden;


  &::after {
    content: "";

    @media (min-width: $desktop-width) {
      position: absolute;
      width: 2091px;
      height: 447px;
      bottom: -25%;
      right: -24%;
      z-index: -1;
      transform: translate(-8px, -3px);
      background-image: image-set(url("../../img/clouds/clouds-3-reviews-desktop@1x.webp") type("image/webp") 1x,
          url("../../img/clouds/clouds-3-reviews-desktop@2x.webp") type("image/webp") 2x,
          url("../../img/clouds/clouds-3-reviews-desktop@1x.png") type("image/png") 1x,
          url("../../img/clouds/clouds-3-reviews-desktop@2x.png") type("image/png") 2x);
      background-repeat: no-repeat;
      background-size: 2091px 447px;
    }
  }

  &::before {
    content: "";

    @media (min-width: $tablet-width) {
      position: absolute;
      width: 788px;
      height: 263px;
      bottom: 18%;
      right: -20%;
      z-index: -1;
      background-image: image-set(url("../../img/clouds/clouds-2-adv-tablet@1x.webp") type("image/webp") 1x,
          url("../../img/clouds/clouds-2-adv-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/clouds/clouds-2-adv-tablet@1x.png") type("image/png") 1x,
          url("../../img/clouds/clouds-2-adv-tablet@2x.png") type("image/png") 2x);
      background-repeat: no-repeat;
      background-size: 788px 263px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
   padding: 56px 15px 20px;

}

.reviews__wrapper .main-title__wrapper h2 {
  margin: 0px 0 32px;
}

.reviews__slides {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reviews__slide {
  min-height: 484px;
}

.reviews__buttons {
  display: none;
}

.reviews .reviews__button svg {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding: 40px 45px;
    width: 768px;
    overflow: hidden;
    margin: 0 auto;
  }

  .reviews__wrapper {
    width: 678px;
    overflow: visible;
    position: relative;
    padding: 0;
  }

  .reviews__wrapper .main-title__wrapper h2 {
    margin: 22px 0 36px;
  }

  .reviews__slide {
    min-height: 277px;
  }

  .reviews__buttons {
    top: 0;
    right: 4px;
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 4px;
    position: absolute;
    justify-content: space-between;
  }
}


@media (min-width: $desktop-width) {
  .reviews {
    padding: 100px 120px;
    width: 1440px;
  }

  .reviews__wrapper {
    width: 1200px;
  }

  .reviews__wrapper .main-title__wrapper h2 {
    margin: 46px 0 38px;
  }

  .reviews__slides {
    padding-left: 10px;
  }

  .reviews__slide {
    min-height: 293px;
  }

  .reviews__buttons {
    top: 0;
    right: 4px;
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 4px;
    position: absolute;
    justify-content: space-between;
  }
}
