.tours-swiper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.tours-swiper__slides {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.tours-swiper__slides .tours-slide.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}


@media (min-width: $tablet-width) {
  .tours-swiper__slides .tours-slide {
    width: 330px;
    align-items: flex-start;
  }
}


@media (min-width: $desktop-width) {
  .tours-swiper__slides .tours-slide {
    width: 380px;
  }
}
