.tours-slide {
  padding: 0 20px 30px;
  color: $white-color;
  min-height: 416px;
  width: auto;

  &--elbrus {
    background: image-set(url("../../img/tours/elbrus@1x.webp") type("image/webp") 1x,
        url("../../img/tours/elbrus@2x.webp") type("image/webp") 2x,
        url("../../img/tours/elbrus@1x.jpg") type("image/jpeg") 1x,
        url("../../img/tours/elbrus@2x.jpg") type("image/jpeg") 2x),
      $additional-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--belukha {
    background: image-set(url("../../img/tours/belukha@1x.webp") type("image/webp") 1x,
        url("../../img/tours/belukha@2x.webp") type("image/webp") 2x,
        url("../../img/tours/belukha@1x.jpg") type("image/jpeg") 1x,
        url("../../img/tours/belukha@2x.jpg") type("image/jpeg") 2x),
      $additional-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--fisht {
    background: image-set(url("../../img/tours/fisht@1x.webp") type("image/webp") 1x,
        url("../../img/tours/fisht@2x.webp") type("image/webp") 2x,
        url("../../img/tours/fisht@1x.jpg") type("image/jpeg") 1x,
        url("../../img/tours/fisht@2x.jpg") type("image/jpeg") 2x),
      $additional-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--manarag {
    background: image-set(url("../../img/tours/manarag@1x.webp") type("image/webp") 1x,
        url("../../img/tours/manarag@2x.webp") type("image/webp") 2x,
        url("../../img/tours/manarag@1x.jpg") type("image/jpeg") 1x,
        url("../../img/tours/manarag@2x.jpg") type("image/jpeg") 2x),
      $additional-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 22.3%, rgba(0, 0, 0, 0) 60.32%);
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.tours-slide__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: auto;
  z-index: 10;
  position: relative;
}

.tours-slide__title {
  margin: 0 0 15px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: $white-color;
    opacity: 0.2;
    height: 1px;
    width: 80px;
    background-size: 1px 80px;
    bottom: -15px;
    left: 0;
  }
}

.tours-slide__features {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.tours-slide__feature {
  margin: 0;
}

.tours-slide--belukha .tours-slide__feature--place .tours-slide__feature-value,
.tours-slide--fisht .tours-slide__feature--place .tours-slide__feature-value  {
  margin-right: 84px;
}

.tours-slide--manarag .tours-slide__feature--days .tours-slide__feature-value,
.tours-slide--manarag .tours-slide__feature--nights .tours-slide__feature-value  {
padding-left: 32px;
}


.tours-slide__extra-features {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}

.tours-slide__feature-value {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-wrap: nowrap;
}

.tours-slide__feature--place .tours-slide__feature-value {
  padding: 8px 12px 8px 34px;
  background-color: $additional-color;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: $white-color;
    mask-image: url(/__spritemap#sprite-pin-full-view);
    height: 12px;
    width: 9px;
    background-size: 9px 12px;
    top: 7pxz;
    left: 16px;
    background-repeat: no-repeat;
  }
}

.tours-slide__feature--days .tours-slide__feature-value {
  padding: 8px 7px 8px 37px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: $white-color;
    mask-image: url(/__spritemap#sprite-sun-view);
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    top: 50%;
    left: 5px;
    translate: 0 -50%;
    background-repeat: no-repeat;
  }
}

.tours-slide__feature--nights .tours-slide__feature-value {
  padding: 8px 0 8px 39px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: $white-color;
    mask-image: url(/__spritemap#sprite-moon-view);
    height: 16px;
    width: 16px;
    background-size: 16px 16px;
    top: 50%;
    left: 9px;
    translate: 0 -50%;
    background-repeat: no-repeat;
  }
}

.tours-slide__extra-feature--difficulty {
  margin-right: 14px;
}

.tours-slide__extra-feature {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.tours-slide__extra-feature-value {
  margin: 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
}

.tours-slide__extra-feature--difficulty .tours-slide__extra-feature-value {
  position: relative;
  width: 15px;

  &::before {
    content: "";
    position: absolute;
    background-color: $white-color;
    height: 15px;
    width: 84px;
    background-size: 13px 15px;
    top: -3px;
    left: 0;
    background-repeat: no-repeat;
    mask-repeat: repeat;
    mask-image: url(/__spritemap#sprite-star-not-full-view);
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $white-color;
    height: 15px;
    width: 65px;
    background-size: 13px 15px;
    top: -3px;
    left: 0;
    background-repeat: no-repeat;
    mask-repeat: repeat;
    mask-image: url(/__spritemap#sprite-star-full-view);
  }
}

.tours-slide__extra-feature--difficulty .one-star::after {
  width: 17px;
  mask-repeat: no-repeat;
}

.tours-slide__extra-feature--difficulty .two-stars::after {
  width: 32px;
}

.tours-slide__extra-feature--difficulty .three-stars::after {
  width: 50px;
}

.tours-slide__extra-feature--difficulty .four-stars::after {
  width: 65px;
}

.tours-slide__extra-feature--difficulty .five-stars::after {
  width: 84px;
}


@media (min-width: $tablet-width) {
  .tours-slide__wrapper {
    width: 100%;
  }

  .tours-slide__title {
    max-width: 260px;
  }

  .tours-slide__feature--place {
    margin: 0 auto 0 0;
  }
}
