// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;


//FONTS
$primary-font: "Montserrat", "Arial", sans-serif;

//COLORS
$primary-color: #2d383f;
$additional-color: #0266c1;
$white-color: #ffffff;
