// Vendor
// ---------------------------------

@import "vendor/normalize";


/* GLOBAL */
@import "./common/variables.scss";
@import "./common/fonts.scss";
// @import "./common/global.scss";
// @import "./common/visually-hidden.scss";

/* COMPONENTS */


/* BLOCKS */
@import "./blocks/page-body.scss";
