// Vendor
// ---------------------------------

@import "vendor/normalize";


/* GLOBAL */
@import "./common/variables.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";

/* COMPONENTS */
@import "./components/button.scss";

/* BLOCKS */
@import "./blocks/page-body.scss";
@import "./blocks/menu-list.scss";
@import "./blocks/main-header.scss";
@import "./blocks/hero.scss";
