// Vendor
// ---------------------------------

@import "vendor/normalize";


/* GLOBAL */
@import "./common/variables.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";

/* COMPONENTS */
@import "./components/button.scss";
@import "./components/main-title.scss";

/* BLOCKS */
@import "./blocks/page-body.scss";
@import "./blocks/menu-list.scss";
@import "./blocks/main-header.scss";
@import "./blocks/hero.scss";
@import "./blocks/tours.scss";
@import "./blocks/tours-swiper.scss";
@import "./blocks/tours-slide.scss";
@import "./blocks/training.scss";
@import "./blocks/instructors.scss";
@import "./blocks/instructors-slide.scss";
@import "./blocks/process.scss";
