.button {
  display: block;
  min-height: 56px;
  width: 180px;
  padding: 20px 5px;
  //max-width!
  color: $white-color;
  background-color: $additional-color;
  outline: none;
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: $white-color;
  color: $active-color;
  outline: 1px solid $active-color;
}

.button:focus {
  background-color: $white-color;
  color: $active-color;
  outline: none;
}

.button:active {
  background-color: $active-color;
  color: $white-color;
  outline: none;
}

.button[disabled] {
  background-color: $disabled-color;
  color: $white-color;
  pointer-events: none;
}

.button-long-arrow {
  background-color: $additional-color;
  color: $white-color;
  width: 37px;
  height: 35px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  cursor: pointer;

  &::after {
    content: "";
    width: 15px;
    height: 9px;
    mask-image: url("/__spritemap#sprite-arrow-right-stick-view");
    background-color: $white-color;
    background-repeat: no-repeat;
    z-index: 10;
    position: absolute;
  }

  &:hover {
    background-color: $white-color;
    outline: 1px solid $active-color;

    &::after {
      background-color: $active-color;
    }
  }

  &:focus {
    background-color: $white-color;
    outline: none;

    &::after {
      background-color: $active-color;
    }
  }

  &:active {
    background-color: $active-color;

    &::after {
      background-color: $white-color;
    }
  }

  &:disabled {
    background-color: $disabled-color;
    pointer-events: none;
  }
}

.button-long-arrow--prev::after {
  transform: rotate(180deg);
}







  // &:hover {
  //   background-color: $white-color;
  //   outline: 1px solid $active-color;
  //   color: $active-color;
  // }

  // &:focus {
  //   background-color: $white-color;
  //   color: $active-color;
  //   outline: none;
  //   border: none;
  // }

  // &:active {
  //   background-color: $active-color;
  //   color:$white-color;
  // }

  // &:disabled {
  //   background-color: $disabled-color;
  // }

