.main-title,
.main-title__wrapper h2 {
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  text-align: left;
  color: $primary-color;
}

.main-title--duplicate {
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  opacity: 3%;
  position: absolute;
  text-align: left;
  color: $primary-color;
  top: -15px;
  left: 0;
}

.about__wrapper .main-title--duplicate {
  top: 4px;
}

.advantages__wrapper .main-title--duplicate {
  left: 36px;
  top: -13px;
}

.footer__content .main-title--duplicate {
  top: -13px;
}

.main-title__wrapper {
  width: 100%;
}

@media (min-width: $tablet-width) {

  .main-title,
  .main-title__wrapper h2 {
    font-size: 25px;
    line-height: 25px;
  }

  .main-title--duplicate {
    font-size: 40px;
    line-height: 40px;
  }

  .about__wrapper .main-title--duplicate {
    top: 8px;
  }

  .advantages__wrapper .main-title--duplicate {
    left: 50%;
    top: -16px;
    transform: translateX(-50%);
  }

}

@media (min-width: $desktop-width) {

  .main-title,
  .main-title__wrapper h2 {
    font-size: 35px;
    line-height: 35px;
  }

  .main-title--duplicate {
    font-size: 55px;
    line-height: 55px;
    top: -17px;
  }

  .about__wrapper .main-title--duplicate {
    top: -23px;
  }

  .advantages__wrapper .main-title--duplicate {
    top: -30px;
  }

}
